.label_input{
    text-align: start;
    margin-bottom: 1rem;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input {
    padding: .4rem;
    border-radius: 10px;
    border: 1px solid #fff;
}
.inputDiv{
    display: flex;
    flex-direction: column;
}
span{
    text-align: start;
}
.invalid-input{
    border: 1px solid red
}
.text-error{
    text-align: start;
}