#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .read-the-docs {
    color: #888;
  }
  #mainBeer{
    max-width: 20rem;
  }
  
  main {
    display: flex;
    max-width: 100%;
  }
  
  .mainBody{
    display: grid;
    flex-direction: row;
    gap: 1.5rem;
  }
  .canvas-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .canvas {
    margin-left: 5px !important;
    margin-top: 20px !important;
    width: 70vw !important; 
    height: 50vh !important; 
    border: 2px solid yellow !important;
  }
  .section2{
    margin-top: 20px;
  }

  .mn-stadts{
    width: 100%;
    height: 100%;
    padding-top: 1.1rem;
    justify-content: center;
    background-color: black ;
    border-radius: 5%;
  }
  
  .mn-stadts h2{
    font-weight: bold;
    font-size: 200;
  }
  .mn-stadts h4{
    font-weight: bold;
    font-size: 200;
    display: flex;
    justify-content: flex-start;
    margin-left: 1.2rem;
  }
  
  .mn-counter.show{
    opacity: 1;
    font-size: 5em;
    font-weight: 500;
    font-family: inherit;
    color: #fff;
    padding: 10px 15px;
    transition: opacity 1s;
  }
  .mn-counter{
    opacity: 0;
    transition: 0.3s;
  }
  
  .btn-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .btn-main .btn-main-add {
    margin-bottom: 10px;
    width: 14rem;
    height: 4rem;
    border-radius: 3rem;
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
  }
  .btn-main .btn-main-add:hover {
    background-color: #0062cc;
    border: 1.5px solid rgb(0, 0, 0);
    color: #000000;
    transition: .3 ease all;
  }
  
  .btn-main .btn-main-close {
    width: 14rem;
    border: 1px solid #bbb;
    border-radius: 3rem;
    background: transparent;
    color: #fff;
    
  }
  .btn-main-close:hover {
    color: red;
    background-color: rgba(253, 31, 31, 0.303);
    transition: .3 ease all;
    border: 1.5px solid red;
  }
  .btn-main button {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 5.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  img{
    max-width: 20rem;
    width: 100%;
    height: 80%;
  }

 @media screen and (max-width: 480px){
    .mainBody {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .canvas{
      max-width: 70vw !important;
    }
    .section2{
      display: flex;
      justify-content: center;
    }
    .mn-stadts{
      width: 20rem;
      height: 100%;
      padding-top: 1.1rem;
      justify-content: center;
      background-color: black ;
      border-radius: 5%;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 768px){
    .mainBody {
      display: flex;
      flex-direction: column;
    }
    .canvas{
      max-width: 60vw !important;
    }
    .col {
      width: 100%;
    }
  }
   
  @media screen and (min-width: 768px) and (max-width: 1024px){
    .mainBody {
      display: flex;
      flex-direction: column;
    }
    .canvas{
      max-width: 40vw !important;
    }
    .col {
      width: 100%;
    }
    .section-container{
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1500px){
    .mainBody {
      display: flex;
      flex-direction: column;
    }
    .canvas{
      max-width: 45vw !important;
    }
    .col {
      width: 100%;
    }
    .section-container{
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
    .mn-stadts{
      width: 26rem;
      height: 100%;
      padding-top: 1.1rem;
      justify-content: center;
      background-color: black ;
      border-radius: 5%;
    }
  }